@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.resume {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.left-column {
    width: 30%;
    background-color: #f8f9fa;
    padding: 30px;

}

.right-column {
    width: 70%;
    padding: 30px;


}

.header {
    height: 25%;
}

.profile-img {
    width: 150px;
    height: 150px;
    background-image: url("rsrc/profile_photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
    border: #ffffff solid 15px;
}

h1 {
    color: #002c4b;
    margin: 0;
    font-size: 24px;
}

.profile-name {
    font-size: 40px;

}

h2 {
    font-family: 'Barlow', sans-serif;
    color: #0b1320;
    border-bottom: 2px solid #0b1320;
    padding-bottom: 5px;
    margin-top: 20px;

}

.job-title {
    font-size: large;
    color: #6c757d;
    margin-top: 5px;
}

.contact-info {
    margin-top: 20px;
    font-size: 14px;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info p ::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}

ul {
    padding-left: 20px;
}

li {
    list-style-type: circle;
}

.work-experience {
    margin-bottom: 15px;
}

.paragraph {
    text-align: justify;
}



.exp-work-title {
    display: flex;
    margin-bottom: -20px;
}

.work-date {
    flex: 1;
    color: #6c757d;
    text-align: right;

}

.icon {
    width: 10px;
}